<div class="d-flex justify-content-center align-item-center">
    <%= form_with  class: "form", model: @post, url: @action == 'edit' ? post_path : posts_path, method: @action == 'edit' ? :PATCH : :POST do |form| %>
    <%= form.label :title,  "Title:" %><br>
    <%= form.text_field :title, class:'form-control input' %><br>
    <%= form.label :description, "Description:" %><br>
    <%= form.text_area :description , class:'form-control input' %><br>
   
   
    <!-- <button id="submit-btn" >Submit</button> -->
    <input id="submit-btn" type="button" value="submit">
    </input>
    <% end %>
</div>

<script type="text/javascript">

  var regTitle = /^[a-zA-Z\s]{3,}$/
  var regDesc = /(.){50,}/
  // var regUserId =  /^[0-9]+$/

  var inputArray = document.querySelectorAll(".input");
  var form  =document.querySelector(".form");

  var regArray = [regTitle,regDesc]

  var alertArray = ['Tilte can only contains letter', 'Description must be of more than 50  words']
  var inputBlank = ['title must be present', "description must be present" ]

  var array = [];

	var submitBtn = document.querySelector("#submit-btn");
	submitBtn.addEventListener("click", validation);

	function validation(e) {
    errorAlert = []
    blankErrorAlert = []

    for (var i = 0; i < inputArray.length; i++) {
        array.push(inputArray[i].value);
        console.log(array);
        if (!regArray[i].test(array[i]) && array[i] != ""){
            alert(alertArray[i]);
            errorAlert.push(alertArray[i]);
            break;
        } else if (array[i] == ""){
            alert(inputBlank[i]);
            blankErrorAlert.push(inputBlank[i]);
            break;
        }

        if (errorAlert.legth > 0 || blankErrorAlert.length > 0){
        	e.preventDefault()
            return false
        } else {
        	console.log('form submitted')
        	form.submit()
        }
    }	
  }
</script>