
<table class="d-flex justify-content-center">
        <h1 class="text-center"> Users Posts </h1>
          <tr>
            <th class="border-1 p-2 text-center">User Name</th>
            <th class="border-1 p-2 text-center">ID</th>
            <th class="border-1 p-2 text-center ">Title </th>
            <th class="border-1 p-2 text-center">Description</th>

            <% if user_signed_in? %>
              <th class="border-1 p-2 text-center">Actions</th>
            <% end %>
          </tr>
          <% @drafts.each do |post| %>
          <% if post.user_id == current_user.id %>
              <tr>
                  <td class="border-1 p-2 ">
                      <%= post.user.name %>
                  </td>
                  <td class="border-1 p-2 ">
                      <%= post.id %>
                  </td>
                  <td class="border-1 p-2 ">
                      <%= post.title %>
                  </td>
                  <td class="border-1 p-2 ">
                      <%= post.description %>
                  </td>
                
                  <% if user_signed_in? %>
                    <td colspan="3" class="d-flex border-1 p-2 align-items-center" style="height: 5rem;">
                    <% if post.user_id == current_user.id %>
                      <%= button_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are You Sure?"}, class:'btn  btn-danger delete-btn submitDel', id:"delBtn" %>          
                      <%= button_to 'Edit', edit_post_path(post), method: :get%>
                      <%= button_to 'Show', post_path(post), method: :get %>
                    <% end %>
                    </td>
                  <% end %>
              </tr>   
          <% end %>
          <% end %>
          
        <%# end %>
</table>
<br>

