<div class="d-flex justify-content-center p-2">
<div>
 <strong class="fs-1 fw-light"><%= user_name(@post) %></strong>
<hr>
<strong>Title: </strong><%= @post.title %><br><br>
<strong>Description:</strong><%= @post.description %><br><br>
</div>
</div>

<div class="p-2">
<%if @post.attachment.url %>
<strong>Image:</strong><br>
<%= image_tag @post.attachment.url, width:200, height:300, alt: "Uploaded image"  %><br>
<%= link_to  "click to Download", @post.attachment.url, download: "", class: "btn btn-primary mt-2" %>
<% end %>
</div>
<br><br>


<div class="d-flex justify-content-center ">
    <%= link_to 'Back', posts_index_path, class:"btn btn-primary " %>
    <% if @post.user == current_user %>
    <%= link_to 'Edit', edit_post_path, class:"btn btn-primary" %>
    <%= button_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are You Sure?"}, class:'btn btn-danger delete-btn'%>
    <% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var deleteBtn = document.querySelector(".delete-btn")
    deleteBtn.addEventListener("click", confirmDelete)

    function confirmDelete(e) {
            console.log("Function")
        let confirmed = "are you sure?"

        if (confirm(confirmed)) {
            console.log("Yes");

        } else {
            console.log("no");
            event.preventDefault()
        }
    }
});
</script>